@using MyJobs.Infrastructure.Data.Models
@{
    this.ViewData["Title"] = "Received notifications";
}
@model List<Notification>

<h1 class='text-center'>@ViewData["Title"]</h1>
<br />

@if (Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sent by</th>
                <th>Company</th>
                <th>Sent on</th>
                <th>Message content</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var not in Model)
            {
                <tr>
                    <td>@not.Employer.FirstName @not.Employer.LastName</td>
                    <td>@not.Employer.Company.CompanyName</td>
                    <td>@not.CreatedAt</td>
                    <td>@not.Message</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h2 class="text-center">No notifications found.</h2>
}