@using MyJobs.Core.Models.Job
@model JobsListViewModel
@{
    this.ViewData["Title"] = $"All Available Jobs, Page {Model.PageNumber}";
}

<h1 class='text-center'>@ViewData["Title"]</h1>
<br />

<div class="job-listing-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4">
                <div class="row">
                    <div class="col-12">
                        <div class="small-section-tittle2 mb-45">
                            <h4>Filter Jobs</h4>
                        </div>
                    </div>
                </div>
                <partial name="_FilterJobsPartial" />
            </div>
            <div id="jobListingSection" class="col-xl-9 col-lg-9 col-md-8">
                <section class="featured-job-area">
                    <div class="container">
                        @Html.AntiForgeryToken()
                        @foreach (var job in Model.Jobs)
                        {
                            <div class="single-job-items mb-30">
                                <div class="job-items">
                                    <div class="job-tittle job-tittle2">
                                        <h4>@job.Title</h4>
                                        <ul>
                                            <li>@job.CategoryName</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="items-link items-link2 f-right">
                                    <a asp-action="GetById" asp-route-id="@job.Id">Details</a>
                                </div>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<nav id="paginationNav">
    <ul class="pagination justify-content-center">
        <li class="page-item @if(!Model.HasPreviousPage) {
        <text>disabled</text>
}">
                <a class="page-link" asp-action="All" asp-route-page="@Model.PreviousPageNumber">Previous</a>
            </li>
        @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-action="All" asp-route-page="@i">@i</a></li>
            }
        }
        <li class="page-item active">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only"></span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-action="All" asp-route-page="@i">@i</a></li>
            }
        }
        <li class="page-item @if(!Model.HasNextPage) {
        <text>disabled</text>
}">
                <a class="page-link" asp-action="All" asp-route-page="@Model.NextPageNumber">Next</a>
            </li>
    </ul>
</nav>

@section Scripts{
    <script>
        $(document).ready(function() {
            var originalJobListing = $("#jobListingSection").html();
            var token = $('input[name="__RequestVerificationToken"]').val();

            $("#applyFiltersBtn").click(function() {
                var selectedCategory = $("#categorySelect").val();
                var selectedWorkingTimes = [];
                $("input[name='selectedWorkingTimes']:checked").each(function() {
                    selectedWorkingTimes.push($(this).val());
                });
                var selectedLocation = $("#locationSelect").val();

                if (!selectedCategory && selectedWorkingTimes.length === 0 && !selectedLocation) {
                    $("#jobListingSection").html(originalJobListing);
                    document.getElementById("paginationNav").style.display = 'block';
                    return;
                }

                document.getElementById("paginationNav").style.display = 'none';
                $.ajax({
                    url: "/Jobs/Filter",
                    type: "POST",
                    headers: {
                        "RequestVerificationToken": token
                    },
                    data: {
                        select: selectedCategory,
                        selectedWorkingTimes: selectedWorkingTimes,
                        locationSelect: selectedLocation
                    },
                    success: function(data) {
                        $("#jobListingSection").html(data);
                    },
                    error: function() {
                        console.log("Error occurred while filtering job offers.");
                    }
                });
            });
        });
    </script>
}