@using MyJobs.Core.Models.Job
@model SingleJobViewModel
@{
    this.ViewData["Title"] = @Model.Title;
    DateTime createdOn = Model.CreatedOn;
    TimeSpan daysSincePosted = DateTime.Today - createdOn.Date;
    int daysPostedAgo = (int)daysSincePosted.TotalDays;
    string postedAgoText;
    if (daysPostedAgo == 0)
    {
        postedAgoText = "Today";
    }
    else if (daysPostedAgo == 1)
    {
        postedAgoText = "1 day ago";
    }
    else
    {
        postedAgoText = $"{daysPostedAgo} days ago";
    }
}

@* <div class="single-post job-experience">
                    <h4 class="single-title">Requirements</h4>
                    <ul>
                        <li>
                            @foreach (var req in Model.Requirements.Split(new char[] { '●', ';', '.' }))
                            {
                                if (!string.IsNullOrWhiteSpace(req))
                                {
                                    <span>&#8226; @req.Trim()</span>
                                    <br />
                                }
                            }
                        </li>
                    </ul>
    </div>
*@

<div class="job-post-company pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-7 col-lg-8">
                <div class="single-job-items mb-50">
                    <div class="job-items">
                        <div>
                            <a href="#">
                                <h2 class="justify-content center">@this.ViewData["Title"]</h2>
                                @if (Model.IsOwner)
                                {
                                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Delete</a>
                                }
                            </a>
                            <hr />
                        </div>
                    </div>
                </div>

                <div class="job-post-details">
                    <div class="post-details1 mb-50">
                        <div class="small-section-tittle">
                            <h3>Job Description</h3>
                        </div>
                        <p>@Model.Description</p>
                    </div>
                    <div class="post-details2  mb-50">
                        <div class="small-section-tittle">
                            <h3>Required Knowledge, Skills, and Abilities</h3>
                        </div>
                        <ul>
                            <li>@Model.Requirements</li>
                        </ul>
                    </div>
                    <div class="post-details2  mb-50">
                        <div class="small-section-tittle">
                            <h3>Responsibilities</h3>
                        </div>
                        <ul>
                            <li>@Model.Responsibilities</li>
                        </ul>
                    </div>
                    <div class="post-details2  mb-50">
                        <div class="small-section-tittle">
                            <h3>Offering</h3>
                        </div>
                        <ul>
                            <li>@Model.Offering</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="post-details3  mb-50">
                    <div class="small-section-tittle">
                        <h4>Job Overview</h4>
                    </div>
                    <ul>
                        <li>Posted : <span>@postedAgoText</span></li>
                        <li>Location : <span>@Model.Town</span></li>
                        <li>Salary : <span>$@Model.Salary</span></li>
                        <li>Working Time : <span>@Model.WorkingTime</span></li>
                    </ul>
                    <div class="apply-btn2">
                        <a asp-action="Apply" asp-route-id="@Model.Id" class="btn btn-primary">Apply Now</a>
                    </div>
                </div>
                <div class="post-details4  mb-50">
                    <div class="small-section-tittle">
                        <h4>Company Information</h4>
                    </div>
                    <ul>
                        <li>Name: <span>@Model.CompanyName </span></li>
                        <li>Employer Name : <span> @Model.EmployerFirstName @Model.EmployerLastName</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>