@using MyJobs.Core.Models.Job
@model SingleJobViewModel
@{
    this.ViewData["Title"] = @Model.Title;
    DateTime createdOn = Model.CreatedOn;
    TimeSpan daysSincePosted = DateTime.Today - createdOn.Date;
    int daysPostedAgo = (int)daysSincePosted.TotalDays;
    string postedAgoText;
    if (daysPostedAgo == 0)
    {
        postedAgoText = "Today";
    }
    else if (daysPostedAgo == 1)
    {
        postedAgoText = "1 day ago";
    }
    else
    {
        postedAgoText = $"{daysPostedAgo} days ago";
    }
}

<section class="post-area section-gap">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-8 post-list">
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <ul class="tags">
                            <li>
                                <a>@Model.Category</a>
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <h2>@this.ViewData["Title"]</h2>
                                <hr />
                            </div>
                            <ul class="btns">
                                <li><a asp-action="Apply" asp-route-id="@Model.Id">Apply</a></li>
                            </ul>

                        </div>
                        <br />
                        <p>
                            @Model.Description
                        </p>
                        <h4>Address</h4>
                        <p class="address"><span class="lnr lnr-map"></span> @Model.Address</p>
                    </div>
                </div>
                <div class="single-post job-experience">
                    <h4 class="single-title">Requirements</h4>
                    <ul>
                        <li>
                            @foreach (var req in Model.Requirements.Split(new char[] { '●', ';', '.' }))
                            {
                                if (!string.IsNullOrWhiteSpace(req))
                                {
                                    <span>&#8226; @req.Trim()</span>
                                    <br />
                                }
                            }
                        </li>
                    </ul>
                </div>
                <div class="single-post job-experience">
                    <h4 class="single-title">Responsibilities</h4>
                    <ul>
                        <li>
                            @foreach (var res in Model.Responsibilities.Split(new char[] { '●', ';', '.' }))
                            {
                                if (!string.IsNullOrWhiteSpace(res))
                                {
                                    <span>&#8226; @res.Trim()</span>
                                    <br />
                                }
                            }
                        </li>
                    </ul>
                </div>
                <div class="single-post job-experience">
                    <h4 class="single-title">What we offer</h4>
                    <ul>
                        <li>
                            @foreach (var offer in Model.Offering.Split(new char[] { '●', ';', '.' }))
                            {
                                if (!string.IsNullOrWhiteSpace(offer))
                                {
                                    <span>&#8226; @offer.Trim()</span>
                                    <br />
                                }
                            }
                        </li>
                    </ul>
                </div>
                <div class="single-post job-experience">
                    <h4 class="single-title">Additional Information</h4>
                    <p>
                        Posted: @postedAgoText | Company Phone: @Model.PhoneNumber | Employer: @Model.EmployerFirstName @Model.EmployerLastName
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>